input[type=file] {
    display: none;
}

body {
    background: #000;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    padding: 3rem;
    max-width: 800px;
    background: #ccc;
    border-radius: 3px;
}

.main__wrap {
    .btn {
        position: relative;
        border-radius: 50px;
        border: 1px solid #42b983;
        text-decoration: none;
        padding: 0.5rem 1.5rem;
        font-weight: 700;
        outline: none;
        background: #fff;
        color: #000;
        transform: all .2s ease-out;
        cursor: pointer;
        margin-right: 1rem;
        &.primary {
            background: #42b983;
            color: #fff;
        }
        &:active {
            box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .3);
        }
        &:hover {
            cursor: pointer;
            opacity: .8;
        }
    }
    .preview__grid {
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 15px;
        .preview__img {
            position: relative;
            display: flex;
            width: 180px;
            height: auto;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
            }
            &:hover {
                .preview__remove {
                    opacity: 1;
                }
                .preview__panel {
                    bottom: 0;
                }
            }
            &.removing-animation {
                transform: scale(0);
                transition: transform .2s;
            }
            .preview__remove {
                position: absolute;
                top: 0;
                right: 0;
                width: 20px;
                height: 20px;
                border: 1px solid black;
                font-size: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                font-weight: 700;
                background: #fff;
                color: #000;
                opacity: 0;
                transition: opacity .25s ease-in-out;
            }
            .preview__panel {
                position: absolute;
                left: 0;
                right: 0;
                bottom: -100px;
                display: block;
                background: rgba(255, 255, 255, 0.8);
                transition: bottom .25s ease-out;
                .name {
                    padding: 2px;
                    font-size: 14px;
                }
                .size {
                    padding: 2px;
                    font-weight: bold;
                }
                .preview__info-progress {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 20px;
                    font-size: 12px;
                    line-height: 20px;
                    font-weight: bold;
                    background: rgb(41, 160, 67);
                    text-align: center;
                    transition: width .22s;
                }
            }
        }
    }
}